.gallery {
  padding-top: clamp(25px, 0.54rem + 5.11vw, 70px);
  padding-bottom: clamp(60px, 2.614rem + 5.68vw, 110px);

  background: $colorBgTwo;
  color: $colorBg;

  overflow: hidden;

  position: relative;
  &::after {
    content: "New gallery";

    color: rgb(220, 220, 207);
    font-family: $emilea;
    font-size: clamp(150px, 4.555rem + 10.56vw, 225px);
    font-weight: 400;
    line-height: 200px;

    position: absolute;
    top: 0;

    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    text-wrap: nowrap;

    opacity: 0.05;
  }
}
.container {
}
.gallery__wrapper {
  max-width: 1000px;

  margin: 0 auto;
}
.gallery__title {
  margin-bottom: clamp(30px, 0.057rem + 9.09vw, 110px);

  text-align: center;
}
.gallery__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 50px;
}
.gallery__item {
  display: flex;
  flex-direction: column;
  row-gap: 14px;

  img {
    max-height: 360px;
    height: 360px;
  }
}
.gallery__item_author {
  display: flex;
  align-items: center;
  justify-content: space-between;

  font-size: clamp(10px, 0.557rem + 0.34vw, 13px);
  font-weight: 500;
  line-height: 17px;
}
.gallery__item_name {
  font-size: 13px;
  font-weight: 700;
  line-height: 17px;
}
.gallery__item_story {
  font-size: 13px;
  font-weight: 500;
  line-height: 17px;
}
.gallery__button_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.gallery__button_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.gallery__button {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  color: rgb(233, 233, 219);
  font-family: $emilea;
  font-size: 26.19px;
  font-weight: 400;
  line-height: 29px;

  margin-top: clamp(65px, 3.267rem + 3.98vw, 100px);
}
.gallery__item_one {
  img {
    border-radius: 0 160px 0 160px;
  }
}
.gallery__item_two {
  img {
    border-radius: 160px 160px 0 0;
  }
}
.gallery__item_three {
  img {
    border-radius: 160px 0 160px 0;
  }
}

@media screen and (max-width: 1100px) {
  .gallery__row {
    flex-direction: column;
    row-gap: 50px;
  }

  .gallery__item {
    align-items: center;
    max-width: 500px;
    text-align: center;
  }

  .gallery__item_author {
    column-gap: 15px;
  }
}

@media screen and (max-width: 730px) {
  .gallery::after {
    display: none;
  }
}
