/*FONTS*/

$futura: "Futura LT", serif;
$emilea: "Emilea", serif;

/*FONTS*/

/*COLORS*/

$colorWhite: #fff;
$colorBlack: #000;
$colorBg: #e9e9db;
$colorBgTwo: #2c2d26;

/*COLORS*/

/*MEDIA*/

$largeTablet: 1200px;
$tablet: 1000px;
$semiTablet: 630px;
$phone: 320px;

/*MEDIA*/
